<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/wdehaes">Willem Dehaes</a>
  </p>

  <br />
  <p>It is designed to help the Minions remember their most remarkable words of wisdom, so that their knowledge may live through the ages.
  </p>

  <br />
  <p>Also, during exams, it's as good a place as any to procrastinate.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'minions.png', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Minions</h2>
    <br />
    <p>
      The Minions are a group of extremely talented Leuven students and alumni. In addition, they are astonishingly good-looking and attractive.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
